@using MoneyMap.Blazor.Components.Pages
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="routeData.PageType == typeof(Login) ? null : typeof(MainLayout)" />
    </Found>
    <NotFound>
        <h1>Page not found</h1>
    </NotFound>
</Router>